body {
    margin: 0;
    padding: 20px;
    font-family: sans-serif;
    font-size: 1em;
}

h1 {
    color: blue;
}

input[type=range] {
  -webkit-appearance: none;
  -margin: 10px 0;
  width: 300px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  border: none;
  box-shadow: none;
  background: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  -margin-top: -0.5em;
  box-sizing: border-box;
  border: none;
  padding: 0.75em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 0 1px .125em #585858,  inset 0 1px 1px #f8f8f8;
  background: radial-gradient(#db7e0d 35%, #cb8037 71%) content-box, linear-gradient(#d4d4d4, #bfbfbf) border-box;
}

input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  padding: 0.75em;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 0 1px .125em #585858,  inset 0 1px 1px #f8f8f8;
  background: radial-gradient(#db7e0d 35%, #cb8037 71%) content-box, linear-gradient(#d4d4d4, #bfbfbf) border-box;
}




input[type='range'] {
  box-sizing: border-box;
  overflow: visible;
  -position: absolute;
  -webkit-appearance: none;
  background: transparent;
  -font-size: 1em;
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  border: none;
  /* because IE */
  width: 25em;
  height: 1.25em;
  -border-radius: 6.25em;
  -box-shadow: inset 0 1px 1px #e1e1e1, inset 0 0 0 .5em #f5f5f5, inset 0 1px 1px .5em #a5a5a5,  inset 0 -1px 0 .5em #fff;
  background: none;
}


input[type='range']::-moz-range-track {
  z-index: -1;
  /* fix Firefox WTF */
  border: none;
  /* because IE */
  width: 25em;
  height: 1.25em;
  -border-radius: 6.25em;
  -box-shadow: inset 0 1px 1px #e1e1e1, inset 0 0 0 .5em #f5f5f5, inset 0 1px 1px .5em #a5a5a5,  inset 0 -1px 0 .5em #fff;
  background: none;
}

input[type='range']::-ms-track {
  border: none;
  /* because IE */
  width: 25em;
  height: 1.25em;
  border-radius: 6.25em;
  -box-shadow: inset 0 1px 1px #e1e1e1, inset 0 0 0 .5em #f5f5f5, inset 0 1px 1px .5em #a5a5a5,  inset 0 -1px 0 .5em #fff;
  background: none;
  color: transparent;
}
input[type='range']::-ms-thumb {
  border: none;
  width: 1.75em;
  height: 1.75em;
  border-radius: 50%;
  -box-shadow: 0 .25em .25em #b2b2b2,  0 .25em .5em #b2b2b2,  inset 0 -.125em .125em #949494,  inset 0 0 0 .25em #bbb,  inset 0 1px .125em .25em #676767;
  background: none;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-fill-upper {
  background: transparent;
}
input[type='range']::-ms-tooltip {
  display: none;
}
input[type='range']:focus {
  outline: none;
  -box-shadow: inset 0 1px .25em #eee;
}

input[type='text'] {
  background-color:white;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

input[type='text'].error {
  background-color:red;
  -webkit-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
